<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bands</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container">
<div class="jumbotron">
    <h3 align="center">All Bands</h3>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Music Label</th>
        </tr>
        </thead>
        <tbody>
        {{ table_body|safe }}
        </tbody>
    </table>
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <button type="button" class="btn btn-success" onclick="location.href='/radio/addband'">
                Add Band
            </button>
        </div>
    </div>
</div>
<div class="footer">
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <input type="button" value="Back to Main Menu" class="btn btn-primary" onclick="location.href='/'"/>
        </div>
        <div class="btn-group">
            <input type="button" value="Log Off" class="btn btn-danger" onclick="location.href='/radio/signOut'"/>
        </div>
    </div>
</div>
</body>
</html>