<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container">
<div class="jumbotron">
    <form action="/radio/deletesongfromplaylist" method="post">
        {{ myForm.hidden_tag() }}

        {{ myForm.name.label }}{{ myForm.name }}
        <br>
        {{ myForm.submit}}
        <br>

    </form>
</div>
</body>
</html>