<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container">
<div class="jumbotron">
    <h1 align="center">Error</h1>
    <h2>Not applicable value</h2>
</div>
<div class="btn-group btn-group-justified">
    <div class="btn-group">
        <input type="button" value="Back to Main Menu" class="btn btn-primary" onclick="location.href='/'"/>
    </div>
</div>
</body>
</html>